@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url(css/bootstrap.min.css);
@import url(css/animate.css);
@import url(css/default-assets/classy-nav.css);
@import url(css/owl.carousel.min.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/style.css);
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'PT Sans', sans-serif;
	color: #333333;
	line-height: 1.4;
	font-weight: 600;
	font-size: 20px;
}

a,
a:active,
a:focus,
a:hover {
	color: #333333;
	text-decoration: none;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	outline: none;
}

li {
	list-style: none;
}

.emply-resume-info p {
	font-family: 'PT Sans', sans-serif;
	line-height: 1.9;
	color: #707070;
	font-size: 13px;
	font-weight: 400;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
}

.bg-overlay {
	position: relative;
	z-index: 1;
}

.bg-overlay::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
}

.bg-gradient-overlay {
	position: relative;
	z-index: 1;
}

.bg-gradient-overlay::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.bg-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.jarallax {
	position: relative;
	z-index: 0;
}

.jarallax>.jarallax-img {
	position: absolute;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#success_fail_info {
	margin-bottom: 30px;
	color: #ffffff;
	text-align: center;
}

.mfp-iframe-holder .mfp-close {
	top: 0;
	width: 30px;
	height: 30px;
	background-color: #002d5b;
	text-align: center;
	right: 0;
	padding-right: 0;
	line-height: 32px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-150 {
	margin-top: 150px;
}

.mr-15 {
	margin-right: 15px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-50 {
	margin-right: 50px;
}

.mr-100 {
	margin-right: 100px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-100 {
	margin-bottom: 100px;
}

.ml-15 {
	margin-left: 15px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-50 {
	margin-left: 50px;
}

.ml-100 {
	margin-left: 100px;
}

.section-padding-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.section-padding-0-100 {
	padding-top: 0;
	padding-bottom: 100px;
}

.section-padding-100-0 {
	padding-top: 100px;
	padding-bottom: 0;
}

.section-padding-100-50 {
	padding-top: 100px;
	padding-bottom: 50px;
}

.section-padding-0-50 {
	padding-top: 0;
	padding-bottom: 50px;
}

.section-padding-50-0 {
	padding-top: 50px;
	padding-bottom: 0;
}

.height-400 {
	height: 400px;
}

.height-600 {
	height: 600px;
}

.height-700 {
	height: 700px;
}

.height-800 {
	height: 800px;
}

.height-900 {
	height: 900px;
}

.height-1000 {
	height: 1000px;
}

#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
	top: 0;
	left: 0;
	background-color: #ffffff;
}

#preloader .preload-content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
	z-index: 100;
}

#preloader #dento-load {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 3px;
	border-style: solid;
	border-color: transparent;
	border-top-color: #002d5b;
	-webkit-animation: dentorotate 2400ms linear infinite;
	animation: dentorotate 2400ms linear infinite;
	z-index: 999;
}

#preloader #dento-load:before {
	content: "";
	position: absolute;
	top: 7.5px;
	left: 7.5px;
	right: 7.5px;
	bottom: 7.5px;
	border-radius: 50%;
	border: 3px;
	border-style: solid;
	border-color: transparent;
	border-top-color: #002d5b;
	-webkit-animation: dentorotate 2700ms linear infinite;
	animation: dentorotate 2700ms linear infinite;
}

#preloader #dento-load:after {
	content: "";
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	border-radius: 50%;
	border: 3px;
	border-style: solid;
	border-color: transparent;
	border-top-color: #002d5b;
	-webkit-animation: dentorotate 1800ms linear infinite;
	animation: dentorotate 1800ms linear infinite;
}

@-webkit-keyframes dentorotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes dentorotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.section-heading {
	position: relative;
	z-index: 1;
	margin-bottom: 50px;
}

.section-heading h2 {
	font-size: 36px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-heading h2 {
		font-size: 30px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-heading h2 {
		font-size: 30px;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 767px) {
	.section-heading h2 {
		font-size: 24px;
		margin-bottom: 15px;
	}
}

.section-heading .line {
	width: 70px;
	height: 4px;
	background-color: #002d5b;
}

.section-heading.text-center .line {
	margin: 0 auto;
}

.section-heading.white h2 {
	color: #ffffff;
}

#scrollUp {
	bottom: 50px;
	font-size: 22px;
	line-height: 42px;
	right: 0;
	width: 40px;
	background-color: #002d5b;
	color: #ffffff;
	text-align: center;
	height: 40px;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	border-radius: 2px 0 0 2px;
}

#scrollUp:focus,
#scrollUp:hover {
	background-color: #000;
}

.dento-btn {
	position: relative;
	z-index: 1;
	min-width: 170px;
	height: 46px;
	line-height: 42px;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 2px;
	background-color: #002d5b;
	-webkit-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	border: 2px solid #002d5b;
}

@media only screen and (max-width: 767px) {
	.dento-btn {
		min-width: 120px;
		padding: 0 10px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.dento-btn {
		min-width: 170px;
		padding: 0 20px;
	}
}

.dento-btn.active,
.dento-btn:focus,
.dento-btn:hover {
	box-shadow: none;
	background-color: transparent;
	color: #002d5b;
}

.dento-btn.btn-2:focus,
.dento-btn.btn-2:hover {
	background-color: #ffffff;
	color: #002d5b;
}
.btn-success{
	color: #fff;
    background-color: #002d5b;
	border-color: #002d5b;
	margin-right: 44px;
}
.btn-success:hover{
	background-color: #002d5b;
	border-color: #002d5b;
}
.btn-success.focus,
.btn-success:focus {
	
	box-shadow: 0 0 0 .2rem rgba(0,45,91,0.8) !important;
	
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #002d5b !important;
	border-color: #002d5b !important;
}
.container {
    max-width: 1267px !important;
}

.dento-btn.booking-btn {
	color: #ffffff !important;
	font-weight: 600;
	min-width: 140px;
	height: 40px;
	line-height: 36px;
	font-size: 12px;
}

.dento-btn.booking-btn:focus,
.dento-btn.booking-btn:hover {
	font-size: 12px;
	font-weight: 600;
	background-color: #ffffff;
	color: #002d5b !important;
}

.header-area {
	position: relative;
	z-index: 599;
	width: 100%;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}
.main-header-area{
	top: 0;
    width: 100%;
    position: absolute;
    background-color: #ffffff26;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    left: 0;
    z-index: 600;
}
/* .header-area .main-header-area.sticky {
	top: 0;
	width: 100%;
	position: fixed;
	background-color: #ffffff26;
	box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
	border-bottom: none;
	left: 0;
	z-index: 600;
} */

.top-header-area {
	position: relative;
	z-index: 1;
	height: 40px;
	background-color: #002d5b;
}

.top-header-area .top-header-content a {
	display: inline-block;
	font-size: 12px;
	color: #fff;
}

.top-header-area .top-header-content a i {
	color: #f01f14;
	margin-right: 5px;
}

.top-header-area .top-header-content a:last-child {
	margin-left: 30px;
}

@media only screen and (max-width: 767px) {
	.top-header-area .top-header-content a:last-child {
		margin-left: 15px;
	}
}

@media only screen and (max-width: 767px) {
	.top-header-area .top-header-content a span {
		display: none;
	}
}

.top-header-area .top-header-social-info a {
	color: #fff;
	display: inline-block;
	font-size: 14px;
	margin-left: 10px;
}

.top-header-area .top-header-social-info a:focus,
.top-header-area .top-header-social-info a:hover {
	color: #002d5b;
}

.classy-nav-container {
	background-color: #d0d0d0b3;
}

.classy-nav-container .classy-navbar {
    height: 88px;
    padding: 17px;
}
.classy-navbar {
	width: 101% !important;
}



@media only screen and (max-width: 767px) {
	.classy-nav-container .classy-navbar {
		height: 57px;
		padding: 0px;
	}
}

@media only screen and (max-width: 767px) {
	.classy-nav-container .classy-navbar .nav-brand {
		max-width: 90px;
		margin-right: 15px;
	}
}

.classy-nav-container .classy-navbar .classynav ul li a {
	padding: 0px 18px;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: #002d5b;
}
 .navbar-nav {
    position: relative;
    margin: 20px 0px 5px 20px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.navbar-nav > li {
    margin-right: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.nav > li {
    position: relative;
    display: block;
}
.navbar-nav > li > a {
    color: #fff;
    display: block;
    font-size: 15px;
    border-radius: 11px;
    padding: 6px 9px;
    font-weight: 700;
    letter-spacing: 0.5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.float-right li a {
    font-size: 17px;
    color: #002d5b !important;
}
.float-right li a:hover{
	color: white !important;
}
.loy{
	display: none !important;
	margin-left: -11px;

}
.pointer {
    cursor: pointer;
}
.account-popup {
    position: relative;
    float: left;
    width: 460px;
    background: #ffffff;
    z-index: 1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    left: 50%;
    margin-left: -230px;
    margin-top: 140px;
    margin-bottom: 60px;
    text-align: center;
    padding: 40px 60px;
}


.account-popup .close-popup {
    position: absolute;
    top: -20px;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0;
    right: -20px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.account-popup > span {
    float: left;
    width: 100%;
    font-size: 13px;
    font-family: Open Sans;
    font-size: 13px;
    color: #888888;
    margin-top: 20px;
}
.account-popup > h3 {
    float: left;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    color: #222222;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 12px;
    line-height: 10px;
}
.account-popup > form {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.account-popup > form .cfield {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 19px;
    border: 2px solid #e8ecec;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.account-popup > form .cfield input {
    float: left;
    width: 100%;
	background: no-repeat;
	border: 1px;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #474747;
    padding: 16px 45px 16px 15px;
}
.remember-label {
    float: left;
    margin: 0;
    font-family: Open Sans;
    font-size: 13px;
    color: #202020;
}
label {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	margin-top: 6px;
}
.checkbox{
	
}

.classy-nav-container a{
	color:black;
	font-family: 'PT Sans', sans-serif;
}
.account-popup > form > a {
    float: right;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    text-decoration: underline;
    line-height: 30px;
}
.account-popup > form button {
	float: left;
    width: 100%;
    color: white;
    height: 60px;
    border: 1px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-top: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-color: #003366;
}
.owl-nav
{
	display:none;
}
.extra-login {
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.account-popup .close-popup {
    background-color:#003366;
}
.account-popup > span {
    float: left;
    width: 100%;
    font-size: 13px;
    font-family: Open Sans;
    font-size: 13px;
    color: #888888;
    margin-top: 20px;
}
.account-popup-area {
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
	background: rgba(20, 31, 114, 0.41);
    opacity: 1;
    z-index: 99;
    overflow-Y: hidden;
}
.float-right {
    border-radius: 0px;
    margin-left: 0px;
}

.classy-nav-container .classy-navbar .classynav ul li a:focus,
.classy-nav-container .classy-navbar .classynav ul li a:hover {
	color: white;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.classy-nav-container .classy-navbar .classynav ul li a {
		padding: 0 10px;
		font-size: 13px;
	}
}

.classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a {
	font-size: 12px;
	text-transform: capitalize;
}





@media only screen and (max-width: 767px) {
	.classy-nav-container .classy-navbar-toggler {
		-webkit-box-ordinal-group: 200;
		-ms-flex-order: 199;
		order: 199;
		margin-right: 23px;
	}
}

.welcome-welcome-slide {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 600px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.welcome-welcome-slide {
		height: 600px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.welcome-welcome-slide {
		height: 600px;
	}
}

@media only screen and (max-width: 767px) {
	.welcome-welcome-slide {
		height: 600px;
	}
}

.welcome-text {
	position: relative;
    z-index: 1;
    padding: 17px;
    background: #d0d0d0b3;
    border-radius: 10px;
    opacity: 0.8;
    margin-left: -17px;
    margin-top: 280px;
}
.welcome-text h3 {
    font-size: 30px;
    font-weight: bold;
	text-align: left;
	color: #003366;
	
}


.welcome-text h2 {
	font-size: 55px;
	color: #ffffff;
	margin-bottom: 30px;
	display: block;
	text-transform: capitalize;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.welcome-text h2 {
		font-size: 42px;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.welcome-text h2 {
		font-size: 36px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.welcome-text h2 {
		font-size: 24px;
	}
}

.welcome-text p {
	font-size: 18px;
	color: #000;
	font-family: sans-serif;
	text-align: left;

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.welcome-text p {
		font-size: 18px;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.welcome-text p {
		font-size: 16px;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.welcome-text p {
		font-size: 16px;
	}
}

.testimonials-area {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.testimonials-area .owl-next,
.testimonials-area .owl-prev {
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: transparent;
	top: 50%;
	left: -100px;
	margin-top: -20px;
	color: #b7b7b7;
	font-size: 50px;
	line-height: 40px;
	opacity: 0;
	visibility: hidden;
}

.testimonials-area .owl-next:focus,
.testimonials-area .owl-next:hover,
.testimonials-area .owl-prev:focus,
.testimonials-area .owl-prev:hover {
	color: #ffffff;
}

.testimonials-area .owl-next {
	left: auto;
	right: -100px;
}

.testimonials-area:focus .owl-prev,
.testimonials-area:hover .owl-prev {
	left: 0;
	opacity: 1;
	visibility: visible;
}

.testimonials-area:focus .owl-next,
.testimonials-area:hover .owl-next {
	left: auto;
	right: 0;
	opacity: 1;
	visibility: visible;
}

.single-testimonial-slide {
	position: relative;
	z-index: 1;
}

@media only screen and (max-width: 767px) {
	.single-testimonial-slide {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.single-testimonial-slide .testimonial-thumb {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 180px;
	flex: 0 0 180px;
	max-width: 180px;
	width: 180px;
	margin-right: 30px;
	border-radius: 50%;
}

.single-testimonial-slide .testimonial-thumb img {
	border-radius: 50%;
}

@media only screen and (max-width: 767px) {
	.single-testimonial-slide .testimonial-thumb {
		margin-bottom: 50px;
	}
}

.single-testimonial-slide .testimonial-content {
	position: relative;
	z-index: 1;
}

.single-testimonial-slide .testimonial-content h5 {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.8;
	font-style: italic;
	margin-bottom: 15px;
	color: #ffffff;
}

.single-testimonial-slide .testimonial-content h6 {
	font-weight: 500;
	color: #ffffff;
}

.single-testimonial-slide .testimonial-content p {
	margin-bottom: 0;
	color: #ffffff;
}

.single-dentist-area {
	position: relative;
	z-index: 1;
	background-color: #f4f4f4;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}

.single-dentist-area .dentist-content {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.single-dentist-area .dentist-content .dentist-social-info {
	text-align: center;
	margin-bottom: 30px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}

.single-dentist-area .dentist-content .dentist-social-info a {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	color: #002d5b;
	margin: 0 7px;
}

.single-dentist-area .dentist-content .dentist-social-info a:focus,
.single-dentist-area .dentist-content .dentist-social-info a:hover {
	background-color: #002d5b;
	color: #ffffff;
}

.single-dentist-area .dentist-content .dentist-info {
	width: 100%;
	padding: 10px 15px;
	text-align: center;
}

.single-dentist-area .dentist-content .dentist-info h5 {
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 0;
}

.single-dentist-area .dentist-content .dentist-info p {
	color: #ffffff;
	margin-bottom: 0;
}

.single-dentist-area:focus .dentist-content .dentist-social-info,
.single-dentist-area:hover .dentist-content .dentist-social-info {
	opacity: 1;
	visibility: visible;
}

.classy-navbar .nav-brand img {
	width: 200px;
}

.no-js .owl-carousel,
/* .owl-carousel.owl-loaded {
	top: 0;
	position: absolute;
} */

.search-bar {
	height: 44px;
	width: 200px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	padding: 0 0 0 20px;
	position: relative;
	background: #fff;
}

.search-bar .input {
	border: none;
	height: 25px;
	width: 150px;
	color: #1b1b1b;
	font-size: 15px;
	outline: none;
}

.search-btn {
	background: #003366;
	border-radius: 20px;
	height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	justify-content: center;
	cursor: pointer;
	right: 2px;
	position: absolute;
	transition: all 1s ease;
}

.search-btn .fa.fa-search {
	color: #fff;
}

.clear{
	clear: both;
}

.headings {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #003366;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    padding: 15px;
    display: inline-block;
	background: white;
	margin: 0 0 25px;
}


.style_prevu_kit:hover
{
	box-shadow: 0px 10px 16px #000000;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.5);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 200ms ease-in;
	transform: scale(1.0);
	border-radius: 12px;
}

.style_prevu_kit {
	border: 1px solid #ddd;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    border-radius: 0px;
    vertical-align: middle;
    margin-bottom: 21px;
    padding: 13px 0px;
    height: 169px;
	margin-right: -7px;
	box-shadow: 0px 25px 38px rgba(0.9, 0.4, 0.5, 0.1)
}
.style_prevu_kit img {
    margin: 0px;
    width: 80px !important;
    opacity: 1;
    display: block;
}
.style_prevu_kit h3 {
	font-size: 18px !important;
	margin: 15px;
	font-family: 'PT Sans', sans-serif;
}
.left-top-links {
    position: relative;
	width:100%;
	padding: 20px
}
.left-top-links:after {
    content:'';
	background-image: url("img/bg-img/student-849825.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; 
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index:-1;
    opacity: 0.1; /* Here is your opacity */
}
section.top-links {
    padding: 5px 0;
}

.current-opening-divison {
    position: relative;
    width:100%;
    
    text-align: center;
}
.current-opening{
	margin-top: -12px;
}
.current-opening-divison:after {
    content:'';
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; 
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index:-1;
    opacity: 0.1; /* Here is your opacity */
}


.openings li {
    list-style: disc;
	text-align: left;
	margin-left: 40px;
}

.openings{
	background-color: white;
	color: black;
	padding: 58PX;
	opacity: 0.8;
	border-radius: 9px;
	/* left: 88px; */
	margin: 0 auto;
	font-size: 19px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	margin: 0 0 25px;
	}
.button {
    display: inline-block;
    background: white;
    color: black;
    border: 1px solid whitesmoke;
    padding: 45px 45px;
    border-radius: 2px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    text-align:left;
    font-family: 'Roboto', sans-serif;
}
.lets-celebrate{
	padding: 0px;
	border-radius: 2px;
	box-shadow:15px 7px 28px rgba(0, 0, 0, 0.2);
    cursor: pointer;
	transition: all ease-in-out 300ms;
}
.celebrate{
	text-align: center;
	border-radius: 2px;
	box-shadow: 15px 7px 28px rgba(0, 0, 0, 0.2);
    cursor: pointer;
	transition: all ease-in-out 300ms;
	border: 1px solid whitesmoke;
	
}
  
  .emply-resume-thumb img {
    border-radius: 10px;
}


.Up-comming_event{
	margin: 15px 0;
}

.button li {
    /* padding: 21px; */
    list-style: disc;
	font-size: 16px; 
	font-weight: 500;
	font-family: 'PT Sans', sans-serif;
}




.row{
	margin: 0 !important;
}

.celebrate h3 {
    font-size: 14px;
}

.celebrate h2 {
    font-size: 19px;
    text-align: center;
    margin-top: 11px;
	
}
.Let-Celebrate{
	padding: 7px;
}


footer {
	background-color: #003366;
	padding: 2%;
	padding-bottom: 1%;
	margin-top: 5%;
  }
  .foot_block {
	display: inline-block;
	vertical-align: top;
	min-width: 16%;
	max-width: 17%;
  }
  .foot_head {
	font-family: 'PT Sans', sans-serif;
	color: white;
	font-size: 13px;
  }
  .foot_comp {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	color: #757575;
  }
  .foot_comp a {
	color: #757575;
	text-decoration: none;
  }
  .blue {
	color: #4e8ff5;
  }
  .foot_sub {
	font-family: OpenSans-Regular;
	font-size: 13px;
	color: white;
  }
  .foot_bottom {
	padding: 1% 10%;
	text-align: center;
  }
  .foot_bottom {
	background-color: #303235;
  }
  .copy {
	vertical-align: middle;
	font-family: OpenSans-Regular;
	font-size: 12px;
	color: #757575;
	float: left;
	margin: 21px 0 0 0;
  }
  
  .foot_nav {
	display: inline-block;
	vertical-align: middle;
	font-family: OpenSans-Regular;
	font-size: 12px;
	color: #757575;
	text-transform: uppercase;
	display: none;
  }
  .foot_logo {
	float: right;
	display: inline-block;
	width: 100px;
	vertical-align: top;
	margin-right: 70px;
    margin-top: 20px;
  }
  .footer-div{
	  margin-bottom: 10px;
  }

 


.top-header-social-info.text-right{
	width: 100%;
    display: inline-block;
    vertical-align: sub;
}

@media only screen and (min-width: 200px) and (max-width: 900px) {
	
	.quick-links-container  .col-md-6.left-top-links-content {
		padding: 0 !important;
		margin-top: 20px !important;
	}
	
	.quick-links-container h2.headings {
		margin: 30px !important;
	}
	footer{
		margin-top: 5%;
	}
	
	
	.celebrate h2 {
		font-size: 13px !important;
		margin: 9px;
		
	}
	
	.celebrate h3 {
		font-size: 11px !important;
		
	}
	.blue {
		color: #4e8ff5;
		word-break: break-all;
	}
	.style_prevu_kit{
		height: 120px;
	}
	.style_prevu_kit img{
		width: 40px !important;
		margin: 0px;
	}
	.foot_logo{
		margin-right: -8px;
	}
.search-bar{
	display: none;
}
.login{
	display: none !important;
}
.loy{
	display: block !important;
}

.breakpoint-on .classynav>ul>li>a{
	background-color: darkgray;
}
.openings{
	padding: 57px 69px;
}
.welcome-text{
	margin-bottom: 225px;
    margin-right: -13px;
} 
.style_prevu_kit h3{
	font-size: 12px !important;
}
.nav > li{
	display: none;
}
.textbox{
	width: 50%;
    height: 66px;
	margin-top: 15px;
	box-shadow: 8px 0 6px rgba(0, 0, 0, 0.3)
}


.lets-celebrate{
	width: 42%;
	box-shadow: -6px 0 9px rgba(0, 0, 0, 0.3)
}
.account-popup {
    position: relative;
    float: left;
    width: 324px;
    background: #ffffff;
    z-index: 1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    left: 50%;
    margin-left: -167px;
    margin-top: 140px;
    margin-bottom: 60px;
    text-align: center;
    padding: 40px 60px;
    height: 372px;
}
}

@media only screen and (max-width: 320px) {
	.style_prevu_kit h3 {
	font-size: 9px !important;
	margin-left: 12px;
	}
}